@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #d9b88c;
  --color-dark: #0b0b0b;
  --color-cream: #f7f5f2;
  --color-brown: #d9b88c;
  --color-accent: #c69c6d;
}
